$unit : 'px'
.section
  +w($mobile#{$unit})
  margin: 0 auto
.set
  overflow: visible
label
  cursor: pointer
.red
  color: $red!important
.head
  &-red-line
    +wh(100%,4px)
    background-color: $red
  &-top
    &-bgc
      display: none
  &-mob
    &-row
      display: flex
      align-items: center
      justify-content: space-between
      position: relative
      box-shadow: 0 3px 3px rgba(0,0,0,0.2)
      width: 100%
    &-but
      display: block
      padding: 17px 24px 17px 18px
      span
        +wh(24px,4px)
        display: block
        background-color: $red
        &:nth-child(2)
          margin: 6px 0
    &-but-close
      display: none
      position: absolute
      z-index: 10
      top: 0
      right: 0
      padding: 15px 19px 16px
      background-color: #fff
    &-menu
      +w(81.25%)
      position: absolute
      top: -4px
      z-index: 10
      background-color: $light-pink
      display: none
      padding-bottom: 30px
    &-checkbox
      &:checked~.head-mob-menu,&:checked~.head-mob-but-close
        display: block
    &-ps
      display: flex
      align-items: center
      border-bottom: 1px solid $light-gray
    &-phone
      +w(76%)
      a
        padding: 18px 0
        display: flex
        justify-content: center
        align-items: center
        span
          +font(18px,$f_semi,#000)
          margin-left: 10px
    &-search
      +w(24%)
      label
        padding: 23px 0 24px
        display: flex
        align-items: center
        justify-content: center
        border-left: 1px solid $light-gray
      &-window
        +wh(198px,62px)
        background-color: $light-pink
        position: absolute
        left: 0
        top: 0
        display: none
        justify-content: center
        align-items: center
        input
          +font(13px,$f_reg,#000)
          width: 170px
          border: none
          background-color: $light-pink
          text-align: right
      &-input:checked~.head-mob-search-window
        display: flex
    &-cont
      +wh(20px)
      border-radius: 10px
      border: 2px solid #fff
      background-color: $red
      position: absolute
      bottom: 0px
      right: 0px
      display: flex
      align-items: center
      justify-content: center
      span
        +font(12px,$f_reg,#fff)
    &-cart
      bottom: -1px
      right: -5px
    &-cc
      position: relative
    &-user
      display: flex
      flex-wrap: wrap
      &>button
        background-color: $red
        display: flex
        align-items: center
        justify-content: center
        span
          +font(18px,$f_reg,#fff)
      &-logout
        display: none
        align-items: center
        button
          +wh(76%,62px)
          background-color: $red
          display: flex
          justify-content: center
          align-items: center
          span
            +font(18px,$f_reg,#fff)
          &:last-child
            +w(23.5%)
    &-login
      &-div
        +wh(1px,62px)
        background-color: $light-gray
      &-button
        +wh(34%,62px)
    &-reg
      &-button
        +wh(65.5%,62px)
    &-links
      +font(18px,$f_reg,#000)
      padding: 30px 0
      &-list
        display: flex
        align-items: center
        span
          margin-right: 7px
        img
          transition: .35s ease
      li
        margin-top: 10px
      &-ul,&-main,&>.head-mob-links-list,&-ul-visible
        padding-left: 20px
      a
        color: #000
      &-ul,&-slave
        display: none
      &-main
        margin-top: 10px
        border-top: 1px solid $middle-gray
        li:last-child
          display: flex
          align-items: center
          span
            margin-right: 7px
      &-checkbox
        &:checked~.head-mob-links-ul
          display: block
        &:checked~.head-mob-links-list-top
          img
            transform: rotate(180deg)
            transition: .35s ease
        &-sub:checked~.head-mob-links-slave
          display: block
        &-sub:checked~.head-mob-links-list-bottom img
          transform: rotate(180deg)
          transition: .35s ease
    &-soc
      ul
        display: flex
        justify-content: space-evenly
  &-address
    display: none
  &-logo
    width: 136px
    a
      display: block
  &-choosen
    margin-right: 12px
  &-cart
    margin-right: 16px
  &-cont
    display: none