header
    .row.head-red-line
    .row.head-top-bgc
        .section
            .head-top
                nav.head-top-nav
                    a(href='#').head-top-nav-link О компании
                    a(href='#').head-top-nav-link Новости
                    input(type='checkbox' id='head-top-howtobuy' class='head-top-howtobuy' style='display:none')
                    label(for='head-top-howtobuy').head-top-nav-link
                        span Как купить
                        +img('arrow-black.png')
                    ul.head-top-nav-sub
                        li
                            a(href='#') Как оформить заказ
                        li
                            a(href='#') Доставка и оплата
                        li
                            a(href='#') Гарантия, обмен, возврат
                        li
                            a(href='#') Программа лояльности
                    a(href='#').head-top-nav-link Розничные магазины
                    a(href='#').head-top-nav-link Контакты
                .head-phone
                    a(href='tel:88003755555').head-phone-call
                        +img('head-tel.png')
                        span 8 800 375 55 55
                    a(href='#').head-phone-add-call Заказать звонок
                .head-login
                    button Вход
                    div
                    button Регистрация
    .row
        .section
            .head-mob-row
                nav.head-mob-nav
                    input(type='checkbox' id='head-mob-nav' class='head-mob-checkbox' style='display:none')
                    label(for='head-mob-nav').head-mob-but
                        span
                        span
                        span
                    label(for='head-mob-nav').head-mob-but-close
                        +img('head-close.png')
                    .head-mob-menu
                        .head-mob-ps
                            .head-mob-phone
                                a(href='tel:88003755555')
                                    +img('head-tel.png')
                                    span 8 800 375 55 55
                            .head-mob-search
                                input(type='checkbox' id='head-mob-search' class='head-mob-search-input' style='display:none')
                                label(for='head-mob-search')
                                    +img('search.png')
                                .head-mob-search-window
                                    input(type='text' placeholder='Введите название товара')
                        .head-mob-user
                            button.head-mob-login-button
                                span Вход
                            .head-mob-login-div
                            button.head-mob-reg-button
                                span Регистрация
                        .head-mob-user-logout
                            button
                                span Личный кабинет
                            .head-mob-login-div
                            button
                                +img('logout.png')
                        .head-mob-links
                            input(type='checkbox' id='head-mob-links-checkbox' class='head-mob-links-checkbox' style='display:none')
                            label(for='head-mob-links-checkbox').head-mob-links-list.head-mob-links-list-top
                                span Ювелирные украшения
                                +img('arrow-black.png')
                            ul.head-mob-links-ul
                                li
                                    a(href='#') Браслеты
                                li
                                    a(href='#') Брелки
                                li
                                    a(href='#') Броши
                                li
                                    a(href='#') Булавка
                                li
                                    a(href='#') Зажимы для денег
                                li
                                    a(href='#') Зажимы для галстука
                                li
                                    a(href='#') Запонки
                                li
                                    a(href='#') Колье
                                li
                                    a(href='#') Кольца
                                li
                                    a(href='#') Комплекты
                                li
                                    a(href='#') Подвески
                                li
                                    a(href='#') Серьги
                                li
                                    a(href='#') Цепь
                                li
                                    a(href='#') Обручальные кольца
                            ul.head-mob-links-ul-visible
                                li
                                    a(href='#') Для женщин
                                li
                                    a(href='#') Для мужчин
                                li
                                    a(href='#') Наручные часы
                                li
                                    a(href='#') Коллекции
                                li
                                    a(href='#') Столовое серебро
                                li
                                    a(href='#') Сувениры
                                li
                                    a(href='#') SALE
                                li
                                    a(href='#').red Акции
                            ul.head-mob-links-main
                                li
                                    a(href='#') О компании
                                li
                                    a(href='#') Новости
                                li
                                    input(type='checkbox' id='head-mob-links-checkbox-sub' class='head-mob-links-checkbox-sub' style='display:none')
                                    label(for='head-mob-links-checkbox-sub').head-mob-links-list.head-mob-links-list-bottom
                                        span Как купить
                                        +img('arrow-black.png')
                                    ul.head-mob-links-slave
                                        li
                                            a(href='#') Как оформить заказ
                                        li
                                            a(href='#') Доставка и оплата
                                        li
                                            a(href='#') Гарантия, обмен, возврат
                                        li
                                            a(href='#') Программа лояльности
                                li
                                    a(href='#') Контакты
                                li
                                    a(href='#')
                                        span Розничные магазины
                                        +img('map-icon.png')
                        .head-mob-soc
                            ul
                                li
                                    a(href='#')
                                        +img('head-icon-youtube.png')
                                li
                                    a(href='#')
                                        +img('head-icon-face.png')
                                li
                                    a(href='#')
                                        +img('head-icon-vk.png')
                                li
                                    a(href='#')
                                        +img('head-icon-insta.png')
                .head-address
                    a(href='#')
                        +img('imap2.png')
                        span.head-address-cont
                            span Магазины
                            br
                            span.hover-none Москва
                .head-logo
                    a(href='#')
                        +img('logo.png')
                .head-choosen.head-mob-cc
                    a(href='#')
                        +img('choosen.png')
                        .head-mob-cont.head-mob-choosen
                            span 7
                        span.head-choosen-cont.head-cont
                            span Избранное
                            br
                            span.hover-none Товаров (#[span.head-choosen-products 0])
                .head-cart.head-mob-cc
                    a(href='#')
                        +img('cart.png')
                        .head-mob-cont.head-mob-cart
                            span 3
                        span.head-cart-cont.head-cont
                            span Моя корзина
                            br
                            span.hover-none Ваша корзина пуста
            .head-row-second
                .head-row-second-jeveling
                    a(href='#').head-mob-links-list.head-mob-links-list-top
                        span Ювелирные украшения
                        +img('arrow-black.png')
                    ul.head-mob-links-ul
                        li
                            a(href='#') Браслеты
                        li
                            a(href='#') Брелки
                        li
                            a(href='#') Броши
                        li
                            a(href='#') Булавка
                        li
                            a(href='#') Зажимы для денег
                        li
                            a(href='#') Зажимы для галстука
                        li
                            a(href='#') Запонки
                        li
                            a(href='#') Колье
                        li
                            a(href='#') Кольца
                        li
                            a(href='#') Комплекты
                        li
                            a(href='#') Подвески
                        li
                            a(href='#') Серьги
                        li
                            a(href='#') Цепь
                        li
                            a(href='#') Обручальные кольца
                .head-row-second-jeveling.head-row-second-suv
                    a(href='#').head-mob-links-list.head-mob-links-list-top
                        span Посуда и сувениры
                        +img('arrow-black.png')
                    ul.head-mob-links-ul.head-mob-links-suv
                        li
                            a(href='#') Столовое серебро
                        li
                            a(href='#') Пирсинг
                        li
                            a(href='#') Погремушки
                        li
                            a(href='#') Ионизаторы
                        li
                            a(href='#') Сувениры
                        li
                            a(href='#') Шармы
                        li
                            a(href='#') Бусы
                        li
                            a(href='#') Ручки
                        li
                            a(href='#') Заколки
                        li
                            a(href='#') Часы
                .head-row-second-search
                    input(type='checkbox' id='head-search-checkbox' style='display:none').head-row-second-search-checkbox
                    label(for='head-search-checkbox')
                    .head-row-second-search-input
                        button
                        input(type='text' placeholder='Введите название товара')
